---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token?client_id=3MVG9CVKiXR7Ri5qIMJmukfi1VVX5IH0CeMP1X01JLU_7ZUPwHM98pQJ.3bcummUt..cY37aI7dLcV.E7F6Zl&client_secret=6786622776677500118&grant_type=password&password=tgb0y?Qatar2n8B1sNDt75BZdtcaRBHZ8Md&username=roland@rocketfuel.com
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00D80000000cyusEAA/00580000003ZK5cAAG","issued_at":"1396054711370","instance_url":"https://na6.salesforce.com","signature":"V4/51ScAdL4hZRIEODYlbBzwumLVrV5rirFzX6k7APE=","access_token":"00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b"}'
  recorded_at: Sat, 29 Mar 2014 00:58:31 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/User/describe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31802/552000
      Org.eclipse.jetty.server.include.etag:
      - c05e4dd2
      Last-Modified:
      - Fri, 28 Mar 2014 22:28:28 GMT
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - c05e4dd-gzip"
    body:
      encoding: UTF-8
      string: '{"custom":false,"keyPrefix":"005","activateable":false,"labelPlural":"Users","layoutable":false,"searchable":true,"urls":{"uiEditTemplate":"https://na6.salesforce.com/{ID}/e","sobject":"/services/data/v22.0/sobjects/User","uiDetailTemplate":"https://na6.salesforce.com/{ID}","describe":"/services/data/v22.0/sobjects/User/describe","rowTemplate":"/services/data/v22.0/sobjects/User/{ID}","passwordUtilities":"/services/data/v22.0/sobjects/User/{ID}/password","uiNewRecord":"https://na6.salesforce.com/005/e"},"childRelationships":[{"childSObject":"Account","relationshipName":null,"deprecatedAndHidden":false,"cascadeDelete":false,"field":"CreatedById"},{"childSObject":"Account","relationshipName":null,"deprecatedAndHidden":false,"cascadeDelete":false,"field":"LastModifiedById"},{"childSObject":"Account","relationshipName":null,"deprecatedAndHidden":false,"cascadeDelete":false,"field":"OwnerId"},{"childSObject":"AccountContactRole","relationshipName":null,"deprecatedAndHidden":false,"cascadeDelete":false,"field":"CreatedById"},{"childSObject":"AccountContactRole","relationshipName":null,"deprecatedAndHidden":false,"cascadeDelete"[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Account/describe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31801/552000
      Org.eclipse.jetty.server.include.etag:
      [...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Opportunity/describe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31802/552000
      Org.eclipse.jetty.server.include.etag:
      - c05e4dd2
      Last-Modified:
      - Fri, 28 Mar 2014 22:28:28 GMT
      Content-Type:
      - application/json;charset=UTF-8
      Etag:
      - c05e4dd-gzip"
    body:
      encoding: UTF-8
      string: '{"custom":false,"keyPrefix":"006","activateable":false,"labelPlural":"Opportunities","layoutable":true,"urls":{"uiEditTemplate":"https://na6.salesforce.com/{ID}/e","sobject":"/services/data/v22.0/sobjects/Opportunity","uiDetailTemplate":"https://na6.salesforce.com/{ID}","describe":"/services/data/v22.0/sobjects/Opportunity/describe","rowTemplate":"/services/data/v22.0/sobjects/Opportunity/{ID}","uiNewRecord":"https://na6.salesforce.com/006/e"},"searchable":true,"updateable":true,"queryable":true,"deletable":false,"createable":true,"childRelationships":[{"childSObject":"AccountPartner","relationshipName":"AccountPartners","deprecatedAndHidden":false,"cascadeDelete":true,"field":"OpportunityId"},{"childSObject":"ActivityHistory","relationshipName":"ActivityHistories","deprecatedAndHidden":false,"cascadeDelete":true,"field":"WhatId"},{"childSObject":"Attachment","relationshipName":"Attachments","deprecatedAndHidden":false,"cascadeDelete":true,"field":"ParentId"},{"childSObject":"Case","relationshipName":"Cases__r","depr[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Opportunity/0068000000oAoSg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31804/552000
      Last-Modified:
      - Fri, 28 Feb 2014 23:32:40 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"attributes":{"type":"Opportunity","url":"/services/data/v22.0/sobjects/Opportunity/0068000000oAoSgAAK"},"Id":"0068000000oAoSgAAK","IsDeleted":false,"AccountId":"0018000000eXQKyAAO","RecordTypeId":null,"IsPrivate":false,"Name":"Bloomingdales_Ultimate
        Accessories_March2014","Description":null,"StageName":"Closed Won","Amount":15000.0,"Probability":100.0,"ExpectedRevenue":15000.0,"TotalOpportunityQuantity":null,"CloseDate":"2014-02-28","Type":null,"NextStep":null,"LeadSource":"Repeat
        Client","IsClosed":true,"IsWon":true,"ForecastCategory":"Closed","ForecastCategoryName":"Closed","CurrencyIsoCode":"USD","CampaignId":"701800000011BKPAA2","HasOpportunityLineItem":false,"IsSplit":false,"Pricebook2Id":null,"OwnerId":"00580000003ai2rAAA","CreatedDate":"2014-02-27T21:57:41.000+0000","CreatedById":"00580000003ag18AAA","LastModifiedDate":"2014-02-28T23:32:40.000+0000","LastModifiedById":"00580000005EjS1AAK","SystemModstamp":"2014-02-28T23:32:40.000+0000","LastActivityDate":null,"FiscalQuarter":1,"FiscalYear":2014,"Fiscal":"2014
        1","Advertiser__c":"0018000000eXQKyAAO","Agency__c":null,"Main_Contact__c":null,"Who_is_Paying_for_Viewability__c":null,"Contract_Verified__c":false,"Dabble_ID__c":null,"Expected_Booking__c":15000.0,"Rep_Current_Tenure__c":14.0,"Credit__c":null,"Campaign_Start_Date__c":"2014-03-10","Campaign_End_Date__c":"2014-03-24","Booking_Amount__c":null,"dly_amt__c":1000.0,"Link_to_RFP__c":null,"Deal_Number__c":null,"AccountType__c":"Advertiser","Months_Since_First_Account_Win__c":6.0,"Brand_Safety_Restrictions__c":"Other
        Content Restrictions","Rep_Tenure__c":null,"Direct_vs_Agency__c":"Direct","Brand__c":"Bloomingdales","SMT_Competitors__c":null,"Original_Opportunity__c":null,"Today_s_Date__c":"2014-03-28","Loss_Reason__c":"Expertise","Viewability__c":"No","Viewability_Metrics__c":null,"Original_Oppty_Amount__c":0.0,"DealCount__c":1.0,"Opp_Type_New__c":"Enterprise:
        DSP","IO_Number__c":null,"Apollo_ID__c":null,"Exec_Sponsor__c":null,"Change_Type__c":null,"Change_Reason__c":null,"Contract_Amount__c":null,"Contract_Execute_Date__c":null,"New_Customer__c":null,"Link_to_Contract_in_Dropbox__c":null,"Contract_Notes__c":null,"Vertical__c":"Retail","Lead_Source_3__c":null,"Bonus_Impressions_RTBO__c":null,"Additional_IO_Line_Items__c":false,"Survey_Contact__c":null,"Campaign_Objectives__c":"2:1
        ROI - Promote online Accessories Lookbook and drive traffic to the site and
        sales for products within the Lookbook. Cannot Retarget - make cookie window
        infinity, suppress all bloomies pixels.","Who_is_Viewability_Vendor__c":null,"Click_or_Conversion_Goal__c":null,"Remaining_Budget__c":0.0,"RFP_Special_Client_Requests__c":null,"If_Conversion_view_or_click__c":"Both
        View and Click","Other_Delivery_Considerations__c":null,"Other_Pricing_Considerations__c":null,"Pixels__c":"Yes","Primary_Audience__c":null,"Product_Family_del__c":null,"DoNotSend__c":false,"Secondary_Audience__c":null,"Secondary_Product_Family_del__c":null,"Secondary_Product_Offering_del__c":null,"Special_Client_Requirements__c":null,"Special_Notes__c":null,"Opportunity_Owner__c":7500.0,"Owner_Percentage__c":50.0,"Second_Opportunity_Owner__c":"00580000003YUBXAA4","Second_Opportunity_Owner_money__c":7500.0,"Second_Owner_Percentage__c":50.0,"Budget__c":0.0,"Flight_Instructions_RTBO__c":null,"Who_Will_Wrap_the_Tags__c":null,"Updated_8_1_12__c":false,"Attribution_Duration__c":null,"Example_Converstion_URL__c":null,"Campaign_Duration_days__c":15.0,"Solutions_Marketing_Manager__c":"POOL","Client_Billing_Contact__c":null,"Client_Business_Contact__c":null,"Client_Operations_Contact__c":null,"RFIEmailsent__c":false,"RFPEmailsent__c":false,"SendRFIEmailAlert__c":false,"SendRFPEmailAlert__c":false,"Corporate_Contract__c":"Not
        Applicable","xAccount_Manager__c":null,"Lead_Source_Type__c":null,"Lead_Source_Detail__c":null,"Amount_Copy_for_Stupid_Opp_Hist_Report__c":15000.0,"date_before_or_after_2011nov1__c":"after","Push_Counter__c":null,"Deal_Won_Lost_Explanation__c":"-","LineItem1Amount__c":12500.0,"LineItem2Amount__c":2500.0,"LineItem3Amount__c":0.0,"LineItem4Amount__c":0.0,"LineItem5Amount__c":0.0,"Bonus_Impressions_DR__c":208333.0,"Bonus_Impressions_Retargeting__c":0.0,"Bonus_Impressions_Brand__c":null,"Bonus_Impressions_Video__c":null,"Bonus_Impressions_Social__c":null,"Brand_Safety_Notes__c":null,"Geo__c":null,"Brand_Safety_Vendor__c":"DoubleVerify","Client_Vendor_Pre_existing_Relations__c":"Yes","Corporate_Contact__c":null,"Cost_Retargeting__c":10.85,"Cost_Brand__c":null,"Cost_Video__c":null,"Cost_Social__c":null,"Cost_DR__c":3.0,"Cost_model__c":null,"Due_Date__c":null,"Primary_Audience_AM__c":null,"Secondary_Audience_AM__c":null,"Hard_Constraints_AM__c":null,"Billing_Off_Of__c":null,"Flight_Instructions_DR__c":"3/10-3/24","Flight_Instructions_Retargeting__c":"3/10-3/24","Flight_Instructions_Brand__c":null,"Flight_Instructions_Video__c":null,"Flight_Instructions_Social__c":null,"Other_3rd_Party_AM__c":null,"Other_Partners_Client_is_Working_With__c":null,"Best_Time_Day_to_Share__c":null,"Line_Item_1_Amount_Notes__c":null,"Goal_DR__c":"2:1
        ROI","Goal_Retargeting__c":"2:1 ROI","Goal_Brand__c":null,"Goal_Video__c":null,"Goal_Social__c":null,"IO_Line_Item_DR__c":"Rocket
        Fuel Retail Booster (Display)","IO_Line_Item_Retargeting__c":"Rocket Fuel
        Retail Booster (FBX News Feed)","IO_Line_Item_Brand__c":null,"IO_Line_Item_Video__c":null,"IO_Line_Item_Social__c":null,"Impressions_DR__c":4166667.0,"Impressions_Retargeting__c":230415.0,"Impressions_Brand__c":0.0,"Impressions_Video__c":0.0,"Impressions_Social__c":0.0,"Insights_Package__c":"No","Is_Primary_Audience_Hard_Contraint__c":null,"Is_Secondary_Audience_a_Hard_Constraint__c":null,"LineItem1MediaChannel__c":"Display
        Banner","LineItem2MediaChannel__c":"Facebook:  General","LineItem3MediaChannel__c":null,"LineItem4MediaChannel__c":null,"LineItem5MediaChannel__c":null,"Offline_Sales_Impact__c":null,"Line_Item_1_Secondary_Optimization_Goal__c":null,"Line_Item_2_Secondary_Optimization_Goal__c":null,"Line_Item_3_Secondary_Optimization_Goal__c":null,"Line_Item_4_Secondary_Optimization_Goal__c":null,"Line_Item_5_Secondary_Optimization_Goal__c":null,"Other_Campaign_Considerations__c":null,"Other_Vendor__c":null,"Performance_Monitoring_Survey_Included__c":null,"Performance_Monitoring_Survey_Vendor__c":null,"Pricing_Exception__c":null,"RM_and_Serving_Fees__c":null,"Rich_Media__c":null,"Line_Item_6_Secondary_Optimization_Goalq__c":null,"Special_Notes_or_Other_Hard_Constraints__c":null,"Supplemental_Add_On_Products__c":null,"Type_of_Service__c":"Ad
        Blocking","Who_is_Paying_for_Brand_Safety__c":"Advertiser or Agency","Who_is_Paying_for_RM_Serving_Fees__c":null,"Who_is_the_Vendor__c":null,"Who_will_Implement_AdChoices_Icon__c":"Rocket
        Fuel","Impressions_RTBO__c":0.0,"Conversion_Attribution_100_50__c":null,"IO_Line_Item_RTBO__c":null,"Conversion_Attribution_Period_30_day__c":null,"LineItem6Amount__c":0.0,"Other_Campaign__c":null,"LineItem6MediaChannel__c":null,"Performance_Week_Over_Week__c":null,"Cost_RTBO__c":null,"Goal_RTBO__c":null,"Ad_Server_Access__c":null,"RTBO_Type__c":null,"Ad_Server_Access_Details__c":null,"Do_We_Have_Creative_If_Not_When__c":null,"Creative_Messaging__c":null,"Demo_Targeting_Hard_or_Soft__c":null,"Can_We_Retarget__c":null,"Other_Sales_Fuel_Notes__c":null,"Ad_Server__c":null,"VeltigCampaignCompare__c":"FALSE","ChildrenOpportunities__c":null,"VeltigProcessed__c":false,"Lead_Source_2__c":null,"Competitors_Reviewed_Date__c":null,"Renewal_Notice_Date__c":"2014-03-17","Left_to_Run_Current_Month__c":0.0,"Client_Relationship__c":"Direct","Months_from_Today__c":-1.0,"RTBO_Part_of_Rocket_Fuel_Connect__c":false,"Line_Item_1_Product__c":"Audience
        Booster","Line_Item_2_Product__c":"Boosted FBX","Line_Item_3_Product__c":null,"Line_Item_4_Product__c":null,"Line_Item_5_Product__c":null,"Line_Item_6_Product__c":null,"Amount_Next_90_Days__c":0.0,"Line_Item_1_Pricing_Term__c":"CPM","Line_Item_2_Pricing_Term__c":"CPM","Line_Item_3_Pricing_Term__c":null,"Line_Item_4_Pricing_Term__c":null,"Line_Item_5_Pricing_Term__c":null,"Line_Item_6_Pricing_Term__c":null,"Total_Impressions__c":null,"OwnerStartDate__c":null,"Lead_Source_Type_2__c":null,"Lead_Source_Detail_2__c":null,"Lead_Source_Detail_3__c":null,"Lead_Source_Type_3__c":null,"Due_Date_Time_Text__c":null,"Link_to_Salesforce__c":"https://na6.salesforce.com/0068000000oAoSg","Opportunity_Owner_User__c":"00580000003ai2rAAA","insertion_order_id__c":null,"Key_Contributors__c":null,"IO_Case__c":"5008000000UOvJZAA1","Social_Line_Item_Total__c":2500.0,"Split_Notes__c":null,"IO_Approval_Case_Status__c":"Fully
        Executed","Account_Manager__c":"00580000005EvDfAAK","Stage_Name_Short__c":"Won","Due_Date_Warning__c":null,"Line_Item_1_Add_on__c":null,"Line_Item_2_Add_on__c":null,"Line_Item_3_Add_on__c":null,"Line_Item_4_Add_on__c":null,"Line_Item__c":null,"Line_Item_6_Add_on__c":null,"Sales_Region__c":"East","Opportunity_Owner_Info__c":"Chris
        Gurciullo (NY, Sales - Enterprise)","User_is_Opportunity_Owner_s_Manager__c":false,"Second_Opportunity_Owner_Info__c":"Justin
        Goldman (NY, Sales - East)","Opportunity_Owner_s_Manager__c":"Aaron Kaliner","Line_Item_1_Warning__c":null,"Line_Item_1_eCPM__c":2.86,"Line_Item_2_Amount_Notes__c":null,"Line_Item_3_Amount_Notes__c":null,"Line_Item_3_eCPM__c":null,"Line_Item_4_Amount_Notes__c":null,"Line_Item_4_eCPM__c":null,"Line_Item_5_Amount_Notes__c":null,"Line_Item_5_eCPM__c":null,"Line_Item_6_Amount_Notes__c":null,"Line_Item_6_eCPM__c":null,"Line_Item_2_eCPM__c":10.85,"Line_Item_2_Warning__c":null,"Line_Item_3_Warning__c":null,"Line_Item_4_Warning__c":null,"Line_Item_5_Warning__c":null,"Line_Item_6_Warning__c":null,"RF_PO_Number_s__c":null,"Who_is_Rich_Media_Vendor__c":null,"Billing_Account__c":null,"Opportunity_Id_18__c":"0068000000oAoSgAAK","Original_RF_PO__c":null}'
  recorded_at: Sat, 29 Mar 2014 00:58:36 GMT
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Opportunity/0068000000iVbIV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31803/552000
      Last-Modified:
      - Mon, 30 Sep[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Opportunity/0068000000m9tPS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31803/552000
      Last-Modified:
      - Mon, 13 Jan[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Opportunity/0068000000lOV8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31801/552000
      Last-Modified:
      - Thu, 06 Feb[...]
- request:
    method: get
    uri: https://na6.salesforce.com/services/data/v22.0/sobjects/Opportunity/0068000000nO334
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00D80000000cyus!AQEAQCNzRwCIJNxBjXGHRZl3gSYgXCZMmGnNH.5VXKHgrwX5gIgjcoj0p9xUHPimk.Wpn7QTJFlJrkZsdIe9OEtFFG9Oio.b
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=31802/552000
      Last-Modified:
      - Tue, 25 Mar[...]
- request:
    method: post
    uri: https://robbie:ilovejira2013@rocketfuel.jira.com/rest/api/latest/search
    body:
      encoding: UTF-8
      string: '{"jql":"key = ICF-3214","startAt":0,"maxResults":50,"fields":["*navigable"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 1078x1630740x2
      X-Asen:
      - SEN-2551246
      X-Seraph-Loginreason:
      - OK
      - OUT
      X-Asessionid:
      - 106moph
      X-Ausername:
      - robbie
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJleHBhbmQiOiJuYW1lcyxzY2hlbWEiLCJzdGFydEF0IjowLCJtYXhSZXN1
        bHRzIjo1MCwidG90YWwiOjEsImlzc3VlcyI6W3siZXhwYW5kIjoiZWRpdG1l
        dGEscmVuZGVyZWRGaWVsZHMsdHJhbnNpdGlvbnMsY2hhbmdlbG9nLG9wZXJh
        dGlvbnMiLCJpZCI6IjM5MzE4MSIsInNlbGYiOiJodHRwczovL3JvY2tldGZ1
        ZWwuamlyYS5jb20vcmVzdC9hcGkvbGF0ZXN0L2lzc3VlLzM5MzE4MSIsImtl
        eSI6IklDRi0zMjE0IiwiZmllbGRzIjp7InN1bW1hcnkiOiJMYXVuY2ggQmxv
        [...]
- request:
    method: get
    uri: https://robbie:ilovejira2013@rocketfuel.jira.com/rest/api/latest/issue/ICF-3214
    body:
      encoding: UTF-8
      string: '{"body":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 1078x1630744x2
      X-Asen:
      - SEN-2551246
      X-Seraph-Loginreason:
      - OK
      - OUT
      [...]
- request:
    method: get
    uri: https://robbie:ilovejira2013@rocketfuel.jira.com/rest/api/latest/issue/ICF-3214/comment/
    body:
      encoding: UTF-8
      string: '{"body":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 1078x1630754x1
      X-Asen:
      - SEN-2551246
      X-Seraph-Loginreason:
      - OK
      - OUT
      X-Asessionid:
      - yis2wx
      X-Ausername:
      - robbie
    body:
      encoding: UTF-8
      string: '{"startAt":0,"maxResults":13,"total":13,"comments":[{"self":"https://rocketfuel.jira.com/rest/api/2/issue/393181/comment/551455","id":"551455","author":{"self":"https://rocketfuel.jira.com/rest/api/2/user?username=asherbatuk","name":"asherbatuk","emailAddress":"asherbatuk@rocketfuelinc.com","avatarUrls":{"16x16":"https://rocketfuel.jira.com/secure/useravatar?size=xsmall&avatarId=10062","24x24":"https://rocketfuel.jira.com/secure/useravatar?size=small&avatarId=10062","32x32":"https://rocketfuel.jira.com/secure/useravatar?size=medium&avatarId=10062","48x48":"https://rocketfuel.jira.com/secure/useravatar?avatarId=10062"},"displayName":"Arthur
        Sherbatuk","active":true},"body":"Please setup up to launch the campaign (display
        and FBX) for 3/10/14.\r\n\r\nThank you,\r\n\r\nArthur","updateAuthor":{"self":"https://rocketfuel.jira.com/rest/api/2/user?username=asherbatuk","name":"asherbatuk","emailAddress":"asherbatuk@rocketfuelinc.com","avatarUrls":{"16x16":"https://rocketfuel.jira.com/secure/useravatar?size=xsmall&avatarId=10062","24x24":"https://rocketfuel.jira.com/secure/useravatar?size=small&avatarId=10062","32x32":"https://rocketfuel.jira.com/secure/useravatar?size=medium&avatarId=10062","48x48":"https://rocketfuel.jira.com/secure/useravatar?avatarId=10062"},"displayName":"Arthur
        Sherbatuk","active":true},"created":"2014-03-06T19:16:40.551-0800","updated":"2014-03-06T19:16:40.551-0800"},{"self":"https://rocketfuel.jira.com/rest/api/2/issue/393181/comment/551464","id":"551464","author":{"self":"https://rocketfuel.jira.com/rest/api/2/user?username=asherbatuk","name":"asherbatuk","emailAddress":"asherbatuk@rocketfuelinc.com","avatarUrls":{"16x16":"https://rocketfuel.jira.com/secure/useravatar?size=xsmall&avatarId=10062","24x24":"https://rocketfuel.jira.com/secure/useravatar?size=small&avatarId=10062","32x32":"https://rocketfuel.jira.com/secure/usera[...]
- request:
    method: get
    uri: https://robbie:ilovejira2013@rocketfuel.jira.com/rest/api/latest/issue/ICF-3214/watchers/
    body:
      encoding: UTF-8
      string: '{"body":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 1078x1630756x1
      X-Asen:
      - SEN-2551246
      X-Seraph-Loginreason:
      - OK
      - OUT
      X-Asessionid:
      - tb6oqo
      X-Ausername:
      - robbie
    body:
      encoding: UTF-8
      string: '{"self":"https://rocketfuel.jira.com/rest/api/latest/issue/ICF-3214/watchers","isWatching":true,"watchCount":6,"watchers":[{"self":"https://rocketfuel.jira.com/rest/api/2/user?username=apaczolt","key":"apaczolt","name":"apaczolt","avatarUrls":{"16x16":"https://rocketfuel.jira.com/secure/useravatar?size=xsmall&ownerId=apaczolt&avatarId=11841","24x24":"https://rocketfuel.jira.com/secure/useravatar?size=small&ownerId=apaczolt&avatarId=11841","32x32":"https://rocketfuel.jira.com/secure/useravatar?size=medium&ownerId=apaczolt&avatarId=11841","48x48":"https://rocketfuel.jira.com/secure/useravatar?ownerId=apaczolt&avatarId=11841"},"displayName":"Ashley  Paczolt
        ","active":true},{"self":"http[...]
[...]
